body {
  background-color: rgb(233, 223, 255);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: rgb(44, 44, 44);
}
h1 {
  color: rgb(83, 49, 156);
}

.container {
  background-color: #fff;
  width: 100%;
  max-width: 900px;
}
