body {
  font-family: Mukta, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bitter, serif;
  font-weight: 500;
}

h1 {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -1.5px;
  margin: 0;
}

h2 {
  font-size: 50px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 38px;
  letter-spacing: 0px;
}
h4 {
  font-size: 30px;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px;
  letter-spacing: 0.25px;
}

h6 {
  font-size: 20px;
  letter-spacing: 0.25px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #863ae8;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.hero h1,
.hero p {
  width: 75%;
  max-width: 900px;
  margin: 16px 0;
}

.hero hr {
  width: 50%;
  margin: 32px 0;
}
code {
  color: #e95400;
  font-weight: bold;
}
.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px;
}

.content h3 {
  text-transform: capitalize;
}

.info {
  text-align: center;
  text-transform: uppercase;
  font-family: Bitter, serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.info span {
  color: #e95400;
}

.headline {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0;
  margin: 40px 0;
  font-size: 18px;
}

.quote {
  font-style: italic;
  font-size: 14px;
  border-left: 2px solid #e95400;
  padding-left: 16px;
  margin: 32px 0 32px 32px;
}

.quote cite {
  display: block;
  font-weight: bold;
  margin-left: 20px;
}

footer {
  background-color: #863ae8;
}

footer ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 28px 0;
}

footer ul li {
  display: inline;
  padding: 0px 16px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}
