body {
  background-color: #463d36;
  box-sizing: border-box;
}
.container {
  background-color: white;
  border: 1px solid #463d36;
  border-radius: 10px;
  width: 600px;
  margin: 0 auto;
}

.content-wrapper {
  margin: 40px;
}

.content-wrapper h1 {
  text-transform: uppercase;
  font-size: 2em;
  color: #a6192e;
  margin-bottom: 0;
}

.content-wrapper h2 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}

.content-wrapper p {
  margin: 28px 0;
  font-size: 1.2em;
}

button {
  background-color: #463d36;
  color: white;
  border: 1px solid #463d36;
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 40px;
}
