body {
  font-family: 'Poppins', sans-serif;
}
.project {
  /* width: 600px; */
  position: relative;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .overlay {
  background-color: rgb(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}

.overlay.white {
  color: #fff;
}
.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 16px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
  margin: 0 auto;
}

.navbar .left {
  font-size: 32px;
  font-weight: bold;
}

.navbar .right img {
  width: 24px;
  height: 24px;
}

.navbar .hamburger {
  display: none;
}

.navbar .hamburger:hover {
  cursor: pointer;
}

.navbar .bar1,
.bar2,
.bar3 {
  background-color: #000;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}
.navbar .right a {
  text-decoration: none;
  color: #000;
}

.navbar .right {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .right a:hover {
  text-decoration: underline;
}

.mobileNav {
  width: 80px;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -160px;
  padding: 16px;
  transition: transform 0.5s;
}
.mobileNav img {
  width: 24px;
  height: 24px;
}

.mobileNav a {
  text-decoration: none;
  color: #000;
  margin: 16px 0;
}

.mobileNav a:hover {
  text-decoration: underline;
}

.openDrawer {
  transform: translateX(-160px);
}

.project-grid {
  display: grid;
  width: 100%;
  gap: 16px;
  grid-template-areas:
    'eth eth alphabet'
    'eth eth traveler'
    'astro cube traveler'
    'cup insta insta'
    'cup insta insta'
    'foam foam dimensional'
    'foam foam dimensional';
}

#eth {
  grid-area: eth;
}

#alphabet {
  grid-area: alphabet;
}
#astro {
  grid-area: astro;
}
#cube {
  grid-area: cube;
}

#cup {
  grid-area: cup;
}

#insta {
  grid-area: insta;
}

#traveler {
  grid-area: traveler;
}
#foam {
  grid-area: foam;
}

#dimensional {
  grid-area: dimensional;
}

.footer {
  text-align: center;
  padding: 32px;
}
@media only screen and (max-width: 1100px) {
  .container {
    max-width: 100%;
  }
  .project-grid {
    max-width: 100%;
    grid-template-areas:
      'eth eth'
      'alphabet traveler'
      'astro cube'
      'insta insta'
      'cup foam'
      'dimensional dimensional';
  }
}

@media only screen and (max-width: 768px) {
  .project-grid {
    margin-top: 100px;
  }
  .navbar {
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;
    width: 100%;
  }
  .navbar .right {
    display: none;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer {
    padding: 16px;
    font-size: 14px;
  }
  .project-grid {
    grid-template-areas:
      'eth eth'
      'alphabet alphabet'
      'traveler traveler'
      'astro astro'
      'cube cube'
      'insta insta'
      'cup cup'
      'foam foam'
      'dimensional dimensional';
  }
  .project .overlay {
    font-size: 24px;
  }
}

.animateBar1 {
  animation: flipBar1 1s;
  animation-fill-mode: forwards;
}
@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}
.animateBar2 {
  animation: fadeBar2 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

.animateBar3 {
  animation: flipBar3 1s;
  animation-fill-mode: forwards;
}
@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}
